@import "tailwindcss";

/* This sets up your special brand colors so we can use them in our components */
@theme {
  --color-caylo-red: #960808;
  --color-caylo-yellow: #FFC700;

  
  /* --- GOOGLE FONTS --- */
  --font-barlow: var(--font-barlow), sans-serif;
  --font-mulish: var(--font-mulish), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
  --font-rubik: var(--font-rubik), sans-serif;
  --font-lato: var(--font-lato), sans-serif;
  --font-chewy: var(--font-chewy), sans-serif;

  /* --- SYSTEM FONTS --- */
  /* These don't need imports, just standard CSS fallbacks */
  --font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-arial: Arial, Helvetica, sans-serif;
  --font-verdana: Verdana, Geneva, sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}